<a href="https://colab.research.google.com/github/sohambharadwaj/major_project/blob/main/car_price_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/sohambharadwaj/major_project/main/SOHAM%20-%20Sheet1.csv')

In [ ]:
df.shape

(301, 9)

In [ ]:
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
df.Seller_Type.unique()

array(['Dealer', 'Individual'], dtype=object)

In [ ]:
df.Fuel_Type.unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [ ]:
df['Current Year']=2021

In [ ]:
df.head()

  Car_Name  Year  Selling_Price  ...  Transmission  Owner Current Year
0     ritz  2014           3.35  ...        Manual      0         2021
1      sx4  2013           4.75  ...        Manual      0         2021
2     ciaz  2017           7.25  ...        Manual      0         2021
3  wagon r  2011           2.85  ...        Manual      0         2021
4    swift  2014           4.60  ...        Manual      0         2021

[5 rows x 10 columns]

In [ ]:
df['no_year']=df['Current Year']- df['Year']

In [ ]:
df.head()

  Car_Name  Year  Selling_Price  ...  Owner  Current Year no_year
0     ritz  2014           3.35  ...      0          2021       7
1      sx4  2013           4.75  ...      0          2021       8
2     ciaz  2017           7.25  ...      0          2021       4
3  wagon r  2011           2.85  ...      0          2021      10
4    swift  2014           4.60  ...      0          2021       7

[5 rows x 11 columns]

In [ ]:
df.drop(['Year'],axis=1,inplace=True)

In [ ]:
df.head()

  Car_Name  Selling_Price  Present_Price  ...  Owner Current Year no_year
0     ritz           3.35           5.59  ...      0         2021       7
1      sx4           4.75           9.54  ...      0         2021       8
2     ciaz           7.25           9.85  ...      0         2021       4
3  wagon r           2.85           4.15  ...      0         2021      10
4    swift           4.60           6.87  ...      0         2021       7

[5 rows x 10 columns]

In [ ]:
df1=df.drop(['Current Year'],axis=1)

In [ ]:
df1.head()

  Car_Name  Selling_Price  Present_Price  ...  Transmission Owner no_year
0     ritz           3.35           5.59  ...        Manual     0       7
1      sx4           4.75           9.54  ...        Manual     0       8
2     ciaz           7.25           9.85  ...        Manual     0       4
3  wagon r           2.85           4.15  ...        Manual     0      10
4    swift           4.60           6.87  ...        Manual     0       7

[5 rows x 9 columns]